/*********************CODE RECURENT******************************/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    
}
body{
    font-family: 'Noto Sans', sans-serif;
    background-color: #0B2447;
}
header{
    height: 10vh;
    width: 100vw;
    color: rgb(255, 255, 255);
    padding-bottom: 50px;
    background-color: #0B2447;
}
.pub{
    width: 20%;
    display: flex;
    background-color: aqua;
}
.navbar{
    position: absolute;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    box-sizing: border-box;
    margin-left: 10%;
}

.navbar .title{
    font-size: 2em;
    font-weight: bold;
    
}
.navbar .nav_links ul{
    display: flex;
}
.navbar .nav_links ul li {
    margin:  20px;
}
.navbar .nav_links ul li a {
    font-size: 1.2em;
    transition: all ease-in-out 2s;
}
.navbar .nav_links ul li a:hover::after {
    width: 100%;
}
.navbar .nav_links ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: gold;
    transition: width 0.3s;
}
.navbar .nav_links ul li:active a {
    color: black;
    font: bold;
}
.navbar .menu{
    display: none;
    width: 35px;
    position: absolute;
    top: 20px;
    right: 30px;
}
.menu_deroulant_parent{
    position: relative;
    display: inline-block;
}
.menu_deroulant{
    display: none;
    background-color:#19366d;
    min-width: 200px;
    border-radius: 25px;
}
.menu_deroulant a {
   color: black;
   padding: 10px;
   text-decoration: none;
   display: block;
}
.menu_deroulant_parent:hover .menu_deroulant,
.menu_deroulant_parent:active .menu_deroulant{
    display: block;
    transition: all 0.5s ease-in-out;
}
.body{
    height: 100vh;
    background-image: url(images/bg.jpg);
}
@media screen and (max-width: 900px) {
    .navbar{
        padding: 0;
    }
    .navbar .menu{
        display: block;
    }
    .nav_links{
        top: 0px;
        left: 0;
        position: absolute;
        background-color: rgba(199, 198, 198, 0.427);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-left:-100% ;
        transition: all 0.5s ease;
    }
    .nav_links ul {

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav_links ul li {
        margin: 25px 0;
        font-size: 2em;
    }
    .mobile-menu{
        margin-left: 0 ;
    }
}
.MP{
    margin-left: 20%;
    margin-right: 20%;
}
.title{
    margin-top: 50px;
}

.title a{
    margin-top: 50px;
    margin: 20px 10px;
    padding: 10px 30% 10px 10px;
    background: linear-gradient(-90deg , #0B2447, #19376D);
    border-radius: 5px;
    font-size: 1.5em;
    transition: all 0.5s ease-in-out;
}
.title a:hover,
.title a:focus,
.title a:active{
    font-size: 1.5em;
    padding: 15px 35% 15px 15px;
    
}
.list_sujet li{
    list-style-type:disc;
    margin-top: 20px;
    margin-left: 75px;
}
.list_sujet li a:hover{
    color: black;
}
